/* .header{
    font-size: 120px;
} */

/* ハンバーガーボタン */
.hamburger {
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}

/* メニューの基本状態（隠れている） */
.menu {
  position: fixed;
  top: 0;
  left: -250px;   /* 画面外に隠す */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: 0.3s;
  padding-top: 60px;
}

/* 開いている状態 */
.menu.open {
  left: 0;   /* 表示 */
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 15px;
  border-bottom: 1px solid #555;
}

/* 背景レイヤー */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 5;
}

/* メニューを前に出す */
.menu {
  z-index: 10;
}
